.DS_Store
lib/bs
lib/ocaml

npm-debug.log
.vscode

.merlin
.bsb.lock
rewatch.lock
rescript.lock

node_modules/
package-lock.json

.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
coverage/
